<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="DefaultSaveDirectory" value="C:\Documents\Visual Studio 2010\C#\XML_Data_Table_Viewer\XML_Data_Table_Viewer\XML_Data\" />
        <add key="DefaultSaveFileName" value="Grid_Data.xml" />
        <add key="DefaultLoadDirectory" value="C:\Users\ekostromskoy\Documents\Import Data\Bonded_Concrete_XML_Files\" />
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
