<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="DefaultSaveDirectory" value="C:\Documents\Visual Studio 2010\C#\XML_Data_Table_Viewer\XML_Data_Table_Viewer\XML_Data\" />
        <add key="DefaultSaveFileName" value="Grid_Data.xml" />
        <add key="DefaultLoadDirectory" value="E:\Documents\Projects\Year 2024\20240417_1728 Import RMCCO Materials And Mixes\rmc\" />
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
